aiogram==3.25.0
aiohttp==3.13.3
aiosqlite==0.22.1
aiofiles==23.2.1
apscheduler==3.11.2
beautifulsoup4==4.14.3
camelot-py[cv]==0.10.1
pandas==2.2.0
pydantic==2.12.5
pydantic_settings==2.13.1
sqlmodel==0.0.22
sqlalchemy==2.0.35
greenlet==3.1.1
pymupdf==1.25.3
xlrd==2.0.1
openpyxl==3.1.2
